body,html{
    margin:0;
    padding:0;
}
.logo-img{
    height:70px;
    width:70px;
}
.opacity{
    opacity: 0.4;
}
.opacity:hover{
    opacity:1;
    z-index: 0;
}
.about{
    background-image:url("../images/woman-punching-the-hand-of-man-wearing-training-gloves-1544774.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.about-text{
    background-color:rgba(179, 171, 171, 0.8);
    color:white;
    padding:1.8rem;
}
div>div>a{
    color:white;
}
i{
    font-size: x-large;
}
.container-fluid{
    padding:0;
    margin:0;
}
.row{
    margin: 0;
}
.card-deck{
margin-right: 0;
margin-left:0;
}
.bg-color{
    background-color: #000;
}
.btn-color{
    background:linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
}
.text-color{
    font-weight:600;
    background: -webkit-linear-gradient(#ff0055, #ff6600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.table th{
    padding-left:0;
    padding-right:0;

}
/* .gym-header{
    background: transparent !important;
    position:fixed;
    linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
} */
#testimonial .container-fluid{
    background-color:#000;
}
.carousel-inner .carousel-item .img-box{
    width:135px;
    height:135px;
}
.logo{
    position: relative;
    animation-name:myanimation;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition-property:background;
    transition-duration:3s;
}
.logo:hover{
    background:linear-gradient(45deg, #e75252 0%, #e4b61e 100%)
}
.navbar{
    position:relative;
    z-index: 10;
}
.clock {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    color: #17D4FE;
    font-size: 45px;
    font-family: 'Akronim';
    letter-spacing: 6px
}
.content {
    border:1px solid black;
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 0.5;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

.fadeIn-top{
    top: 20%;
}

.fadeIn-left{
    left: 20%;
}
  
.fadeIn-right{
    left: 80%;
}
@keyframes myanimation{
    0%{
        left:0px ;right:0px;opacity:1;
    }
    50%{
        left:210px;opacity:0.6;
    }
    100%{
        right:0px;left:0px;opacity:1;
    }
}
@media screen and (max-width :600px){
    @keyframes myanimation{
        0%{
            left:0px ;right:0px;opacity:1;
        }
        50%{
            left:40px;opacity:0.6;
        }
        100%{
            right:0px;left:0px;opacity:1;
        }
    }
}